#clock {
	position: relative;
	width: 750px;
	height: 750px;
}

#clock img {
	position: absolute;
	left: 75px;
	top: 75px;
}
	

#hour {
/*	position: absolute;
	left: 75px;
	top: 75px;*/
}

#minute {

	z-index: 2;

}

#second {
	/*position: absolute;
	left: 0;
	right: 0;
	margin-right: auto;
	margin-left: auto;*/
	z-index: 3;
	/*transform: rotate(45deg);*/
}
